html,body{
        margin:0px;
        flex: 0;
        overflow:hidden;
 }
 #window_panel{
        position: absolute;
        flex: 0;
        background:#999;    
}
#input_panel{
        position: absolute;
        flex: 0;
        background:rgb(73, 72, 72);
 }
#headder_panel{
        position:fixed;
        background:rgb(73, 72, 72);
}
#timeline_panel{
        position: absolute;
        overflow:scroll;
        background:#EEE;
}
#btn_clean{
        position:absolute;
        display: inline-block;
        background: rgb(73, 72, 72);
        color: rgb(73, 72, 72);
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
}
#btn_clean:active {
        border-bottom: solid 1px rgb(73, 72, 75);;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.40);
        border-radius: 10%;
}
#btn_clean:btn_cln {
       position: absolute;
}
#btn_sample{
        position:absolute;
        display: inline-block;
        background: rgb(73, 72, 72);
        color: rgb(73, 72, 72);
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
        text-shadow: -0.2px -0.2px rgba(255, 255, 255, 0.43), 1px 1px rgba(0, 0, 0, 0.49);
}
#btn_sample:active {
        border-bottom: solid 1px #6d6c6d;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.40);
        border-radius: 50%;
}
#btn_sanmple:btn_pic{
        position: absolute;
}
#textInput_area{
        position: absolute;
        font-size: 100%;
        background:#EEE;
        overflow:hidden;
        border:none;
        resize: none;
}
#message_container{
        position:absolute;
        background:#CCC;
        height:auto;
        width:auto;
}
#message_0{
         position:absolute;
         background:#CCC;
         font-size: 100%;
}